
@using EduHomee.Models
@model List<Course>
@{
    int count = 1;
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h3>Slider</h3>
            <div>
                <a class="btn btn-success" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @course.Title
                            </td>
                            <td>
                                <img style="width:100px; height:100px;" src="~/assets/img/course/@course.Image"/>
                            </td>
                            <td>
                                @course.Description
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@course.Id">
                                    <i class="mdi mdi-account-box-outline"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@course.Id">
                                    <i class="mdi mdi-table-edit"></i>
                                </a>
                                <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@course.Id">
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        count++;
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
